[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
psycopg2 = "*"

[packages]
django = "*"
dj-database-url = "*"
pillow = "*"
python-decouple = "*"
braintree = "*"
weasyprint = "*"

[requires]
python_version = "3.8"
